<div class="container">
    <div [hidden]="submitted">
        <h4>Add Product Form</h4>
        <form #addProductForm="ngForm" (ngSubmit)="onSubmit(addProductForm.value)">
            <div class="form-floating mb-3">
                <input id="productId" name="productId" type=number class="form-control" [(ngModel)]="iProduct.product_id"
                       min="1" max="100"
                       required #productIdField="ngModel"
                       [class.field-error]="addProductForm.submitted && productIdField.invalid">
                <label for="productId">Product Id</label>
                <div [hidden]="!addProductForm.submitted || productIdField.valid"
                     class="alert alert-danger">
                    Product ID is required
                </div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Product Name</span>
                <input id="productName" name="productName" type="text" class="form-control" [(ngModel)]="iProduct.product_name"
                       required #productNameField="ngModel"
                       [class.field-error]="addProductForm.submitted && productNameField.invalid">
                <div [hidden]="!addProductForm.submitted || productNameField.valid"
                     class="alert alert-danger">
                    Product Name is required
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="productCode">Product Code</label>
                <select id="productCode" name="productCode" type="text" class="form-control" [(ngModel)]="iProduct.product_code"
                       required #productCodeField="ngModel"
                       [class.field-error]="addProductForm.submitted && productCodeField.invalid">
                    <option *ngFor="let type of productCodes | async">
                        {{ type }}
                    </option>
                </select>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="releaseDate">Release Date</label>
                <input id="releaseDate" name="releaseDate" type="Date" class="form-control" placeholder="releaseDate"
                       [(ngModel)]="iProduct.release_date"
                       required #releaseDateField="ngModel"
                       [class.field-error]="addProductForm.submitted && releaseDateField.invalid">
                <div [hidden]="!addProductForm.submitted || releaseDateField.valid"
                      class="alert alert-danger">
                    Release Date is required
                </div>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="description">Description</label>
                <textarea id="description" name="description" type="text" class="form-control"  rows="3" [(ngModel)]="iProduct.description"
                          required #descriptionField="ngModel"
                          [class.field-error]="addProductForm.submitted && descriptionField.invalid"></textarea>
                <div [hidden]="!addProductForm.submitted || descriptionField.valid"
                      class="alert alert-danger">
                    Description is required
                </div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Price</span>
                <span class="input-group-text">$</span>
                <input id="price" type=number name="price" class="form-control" aria-label="Amount (to the nearest dollar)"
                       [(ngModel)]="iProduct.price"
                       required #priceField="ngModel"
                       [class.field-error]="addProductForm.submitted && priceField.invalid">
                <span class="input-group-text">.00</span>
                <span [hidden]="!addProductForm.submitted || priceField.valid"
                      class="alert alert-danger">
                    Price is required
                </span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Star Rating</span>
                <rating id="starRating" name="starRating" type=number class="form-control" aria-label="Rating (upto to 5)"
                        [(ngModel)]="iProduct.rating" [max]="max" [readonly]="isReadonly"
                        required #starRatingField="ngModel"
                        [class.field-error]="addProductForm.submitted && starRatingField.invalid && starRatingField.pristine">>
                    (keyup)="confirmSelection($event)"
                </rating>
                <span [hidden]="!addProductForm.submitted || starRatingField.valid"
                      class="alert alert-danger">
                    Rating is required
                </span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Image Url</span>
                <input id="imageUrl" name="imageUrl" class="form-control" [(ngModel)]="iProduct.image_link"
                       required #imageUrlField="ngModel"
                       [class.field-error]="addProductForm.submitted && imageUrlField.invalid">
                <span [hidden]="!addProductForm.submitted || imageUrlField.valid"
                      class="alert alert-danger">
                    ImageUrl is required
                </span>
            </div>
            <div class="alert alert-danger" [hidden]="!postError">
                {{ postErrorMessage }}
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!addProductForm.form.valid">Submit</button>
            <button type="button" class="btn btn-default" (click)="newHero(); addProductForm.reset()">New Product</button>
        </form>
    </div>


    <div [hidden]="!submitted">
        <h2>You submitted the following:</h2>
        <div class="row">
            <div class="col-xs-3">productId</div>
            <div class="col-xs-9">{{ iProduct.product_id }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Product Name</div>
            <div class="col-xs-9">{{ model.productName }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Product Code</div>
            <div class="col-xs-9">{{ iProduct.product_code }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Release Date</div>
            <div class="col-xs-9">{{ iProduct.release_date }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Description</div>
            <div class="col-xs-9">{{ iProduct.description }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Price</div>
            <div class="col-xs-9">{{ iProduct.price }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">StarRating</div>
            <div class="col-xs-9">{{ iProduct.rating }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">imageUrl</div>
            <div class="col-xs-9">{{ iProduct.image_link }}</div>
        </div>
        <br>
        <button type="button" class="btn btn-primary" (click)="submitted=false">Edit</button>
    </div>
</div>
