.nav-link {
    font-size: large;
}

.navbar navbar-expand navbar-light bg-light {
    align-self: end;
    align-items: end;
    align-content: center;
}

.navbar-brand {
    font-style: italic;
    font-family: serif;
    font-weight: bolder;
    font-size: xx-large;
}

.d-flex .btn-outline-success {
    margin-right: 10px; /* Adjust the space after search button as needed */
}

.nav-pills .nav-link {
    margin-right: 10px; /* Adjust the gap between links as needed */
}
