<div class='card'>
  <div class='card-header'>
    {{pageTitle + '-' + product?.product_name}}
    <button class="btn btn-outline-danger delete-button" (click)="onDelete(product?.product_id)">
      Delete
    </button>
  </div>
  <div class='card-footer'>
      <div class='card-body' *ngIf="product">
        <div class='row'>
          <div class='col-md-8'>
            <div class='row'>
              <div class='col-md-4' >Name:</div>
              <div class='col-md-8'>{{product.product_name}}</div>
            </div>
            <div class='row'>
              <div class='col-md-4'>Code:</div>
              <div class='col-md-8'>{{product.product_code | lowercase | convertToSpaces: '-'}}</div>
            </div>
            <div class='row'>
              <div class='col-md-4' >Description: </div>
              <div class='col-md-8'>{{product.product_description}}</div>
            </div>
            <div class='row'>
              <div class='col-md-4' >Availability:</div>
              <div class='col-md-8'>{{product.release_date}}</div>
            </div>
            <div class='row'>
              <div class='col-md-4'>Price:</div>
              <div class='col-md-8'>{{product.price|currency: 'USD': 'symbol'}}</div>
            </div>
          </div>
        </div>
      </div>
    <div class='col-md-4 d-flex justify-content-end'>
      <button class='btn btn-outline-secondary mr-2'
              style='width:80px'
              (click)='onBack()'>
        <i class='fa fa-chevron-left'></i> Back
      </button>
      <button class='btn btn-outline-secondary export-button'
              style='width:100px'
              (click)='onExport(product?.product_name)'>
        Export <i class='fa fa-download'></i>
      </button>
    </div>
  </div>
</div>
