

div.card-header {
  font-size: large;
}

div.card {
  margin-top: 100px
}

.table {
  margin-top: 10px
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

thead {
  color: #337AB7;
}
