<nav class="navbar navbar-expand-lg bg-black navbar-dark p-1">
  <div class="container">
    <a href="#" class="navbar-brand">{{ pageTitle }}</a>
    <div class="navbar-header">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li><a class="nav-link" href="#home" routerLink="/welcome">Home</a></li>
        <li>
          <a class="nav-link" href="#productlist" routerLink="/products"
            >ProductList</a
          >
        </li>
        <li>
          <a class="nav-link" href="#addproduct" routerLink="/add-product"
            >AddProduct</a
          >
        </li>
        <li>
          <a class="nav-link" href="#testimonials" routerLink="/welcome"
            >Testimonials</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
